.container{
    background-color: #FFECB3;
    height: 1677px;
    width: 216%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box {
    height: 101%;
    width: 98%;
}